test_results/
docker/__pycache__/
TRASH/
src/test/resources/
/*.log
/*.properties
/bin/
/target*/
.classpath
.project
#/.idea/

# Allow
!*.so
!*.dll
!*.jnilib
!*.exe
dependency-reduced-pom.xml
.settings/
.idea/
.idea/workspace.xml
.idea/tasks.xml
/models/
/test_datasets/
TRASH/
maven_logs/
maven-local-repository/
/test_results/
